body {
    background-color: black;
}

#welcome {
    background-color: black;
}

.navbar-default .navbar-nav > li > a:hover {
    border-color: white;
    border-width:0 0 5px 0;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    border-color: black;
    background-color: black;
    border-color: white;
    border-width:0 0 5px 0;
}

.navbar-default .navbar-nav > li > a :visited {
    color: white;
    border-color: white;
    background-color: black;
    border-color: white;
    border-width:0 0 5px 0;
}

.page-header {
    border-color: white;
}

#black-nav {
    background-color: black;
    border-color: white;
    border-width:0 0 5px 0;
}

/*Fresh start*/
#homeHeading {
    color: white;
    font-size:110px;
    font-family: cursive;
}

#buttons {
    background-color: white;
    border: 2px solid white;
}

#underline {
    border-color: white;
    border-width: 3px;
    max-width: 50px;
}


/* Create the parallax scrolling effect */
#parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

