@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, user: models.users.User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>@title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.ico")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    </head>
    <body id="adminBody">

        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                @if(user != null) {
                    <h1>Admin Portal: @user.getName</h1>
                }
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-lg btn-danger" id="right-btn" href="@routes.LoginController.logout()" role="button">Log Out</a>
                </div>
            </div>

            <div class="container">
            @content
            </div>

        </div>

        <script>
                function goBack() {
                    window.history.back();
                }
        </script>

    </body>
</html>
    <!--Created by Evan-->