@(items: Item, user: models.users.User, error: String)
@AdminPages.adminMain("Admin Item", user) {
    <div class="m-header scene_element scene_element--fadein">
        <div class="row">
            <h1 class="page-header" style="text-align: center">Add a new Item</h1>
            <div class="col-xs-6 col-xs-offset-3">
                <div class="panel panel-default credit-card-box">
                    <div class="panel-body">
                        @if(error != null) {
                            <div class="alert alert-warning">
                                <strong>@error</strong>
                            </div>
                        }
                        <form method="post" action="@routes.AdminController.addItemSubmit()" class="form-horizontal" enctype="multipart/form-data">
                            <label id="label" class="control-label">Item Name:</label>
                            <input type="text" name="title" class="form-control" required/>

                            <label id="label" class="control-label">Cost: </label>
                            <input type="number" name="cost" class="form-control" required/>

                            <label id="label" class="control-label">Description:</label>
                            <input type="text" name="description" class="form-control" required/>

                            <label id="label" class="control-label">Link:</label>
                            <input type="text" name="address" class="form-control" required/>

                            <label id="label" class="control-label">Category:</label>
                            <select name="catagory" class="form-control" required>
                                <option value="0">Select</option>
                                <option value="1">Group Fitness Offers</option>
                                <option value="2">Personal Training Packages</option>
                                <option value="3">Corporate Packages</option>
                                <option value="4">Other</option>
                            </select>

                            <label id="label" class="control-label">Image:</label>
                            <input type="text" name="upload" class="form-control"/>

                            <div class="span7 text-center">
                                <input type="submit" value="Add Item" class="btn btn-lg btn-primary">
                            </div>
                        </form>
                        <div class="span7 text-center">
                            <button class="btn btn-lg btn-warning" onclick="goBack()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <script>
                function confirmDel() {
                    return confirm('Are you sure?');
                }
        </script>
        }
    <!--Created by Evan-->