@(user: models.users.User, env: play.api.Environment, testimony: List[Testimony])
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("Home") {

<header id="welcome">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="m-header scene_element scene_element--fadein">
                <h1 id="homeHeading" style="font-family: 'Stardos Stencil', cursive; font-weight: 5;">Under Construction</h1>
            </div>
            <hr id="underline">
        </div>
    </div>



</header>
        <div class="col-md-12 text-center">
            <p style=" text-align: right; margin-right: 20px;">Designed & built by <a href="evanconlon.me">Evolved Content</a></p>
        </div>
    </section>




}