@(addUserForm: Form[models.users.User], error: String)
@import helper._

@main("Sign Up Page") {
    <div class="row">
        <div class="col-lg-5">
        @if(error != null) {
            <div class="alert alert-warning">
                <strong>@error</strong>
            </div>
        }
        </div>
    </div>
    <div class="m-page scene_element scene_element--fadein" style="padding-bottom: 138px;">
        <h1 id="blackHeading">Sign In</h1>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div id="loginBox" class="panel panel-default credit-card-box" style=" padding-bottom: 50px;
                    padding-top: 50px;
                ">
                    <div class="panel-body" >
                        <div class="centered">
                            <form method="post" action="@controllers.routes.HomeController.addUserSubmit()" class="form-horizontal">
                                <label>Email:</label>
                                <input type="email" name="email" class="form-control" placeholder="Enter your email" required/>

                                <label>Name:</label>
                                <input type="text" name="name" class="form-control" placeholder="Enter your name" required/>

                                <label>Password:</label>
                                <input type="password" name="password" class="form-control" required/>

                                <label>Password Confirm:</label>
                                <input type="password" name="passwordConfirm" class="form-control" required/>
                                <div class="span7 text-center" style="padding-bottom: 30px;
                                    padding-top: 30px;"
                                >
                                    <input type="submit" value="Sign Up" class="btn btn-lg btn-primary">
                                    <button class="btn btn-lg btn-warning" onclick="goBack()">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}